@model IEnumerable<MP_ENTPROG_CUELLOSM_PANGILINANJA.Models.Student>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<h2>Students</h2>
<a href="~/Student/List" class="btn btn-info">
    <i class="fa fa-user"></i>
    Go back
</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>
